<html lang="en" ng-app="ui.slickgrid">
    <head>
        <meta charset="utf-8" />
        <title>SlickGrid Demo</title>
       
        <link rel="stylesheet" href="css/main.css" type="text/css"/>
        <link rel="stylesheet" href="lib/slickgrid/slick.grid.css" type="text/css"/>
        <link rel="stylesheet" href="lib/slickgrid/css/smoothness/jquery-ui-1.8.16.custom.css" type="text/css"/>

        <script src="lib/jquery-1.9.0.js"></script>
        <script src="lib/jquery.event.drag-2.2.js"></script>
        <script src="lib/slickgrid/slick.core.js"></script>
        <script src="lib/slickgrid/slick.grid.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
        <script src="js/slickgrid.js"></script>    
</head>
    <body>
        
        <div ng-controller="MyGrid">
          <p>{{log}}</p>
          <button ng-click="addRow()" >Add Row</button>
          <button ng-click="toggleHidden()" >Reveal Hidden</button>
          <slickgrid columns="model.columns" options="model.options" data="model.data"></slickgrid>
        </div>
    </body>
</html>